
<div class="back">
    <app-header></app-header> 
            <div class="add-margin">

                <div class="layout">
                    <app-name class="name" [notify]="largeName"></app-name>
                    <app-home class="home" (notify)="onNotify($event)"></app-home>
                    <app-about class="about"(notify)="onNotify($event)"></app-about>
                    <app-placeholder class="placeholder"(notify)="onNotify($event)"></app-placeholder>
                </div>
            </div>
                
    <router-outlet></router-outlet>
</div>